<div class="row">
    <div class="display-container no-margin-top center">
        <div class="row">
            <h1 class="headings col-xs-10 col-xs-offset-1 left">Tournaments</h1>
            <% if current_user&.can_edit_contest(@contest) %>
                <div class="info-text col-xs-1 plus-div right" data-toggle="tooltip" data-placement="bottom"
                     title="Add Tournament to Contest">
                    <%= link_to(new_contest_tournament_path(@contest), method: :get) do %>
                        <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus gly-plus') %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <%= form_tag contest_path(@contest), method: 'get', id: 'tournament_form', class: 'form-inline' do %>
                <%= text_field_tag :tournament_search, params[:tournament_search], class: 'form-control' %>
                <%= submit_tag "Search", description: nil, class: 'btn btn-danger' %>
            <% end %>
        </div>
        <% if @tournaments.count > 0 %>
            <% if @tournaments.count > @per_page %>
                <p><%= "#{@tournaments.count} found (displaying #{getRangeFromPage(params[:tournament_page], @tournaments.length)})" %></p>
            <% else %>
                <p><%= "#{@tournaments.count} found" %></p>
            <% end %>
        <% else %>
            <p>No tournaments found</p>
        <% end %>
        <div class="row">
            <%= render partial: 'contest_tournament', collection: @tournaments, as: :tournament %>
            <%= will_paginate @tournaments, param_name: 'tournament_page', id: 'tournament_pagination', inner_window: 2,
                              outer_window: 0, previous_label: '<', next_label: '>' %>
        </div>
    </div>
</div>