<% setTitle("Edit Contest") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= contests_path %>">Contests</a></li>
    <li><a href="<%= contest_path(@contest) %>"><%= @contest.name %></a></li>
    <li class="active">Edit Contest</li>
</ol>
<div class="row">
    <div class="center display-container col-md-offset-2 col-lg-offset-3 col-md-8 col-lg-6">
        <h1 class="headings new-heading row left">Edit Contest</h1>
        <%= form_for @contest do |f| %>
            <%= render 'shared/error_messages', object: @contest %>
            <div class="form-group row left">
                <div class="col-xs-4">Referee:</div>
                <div class="col-xs-8 info-link"><%= @contest.referee.name %></div>
            </div>
            <%= render 'fields', f: f %>
            <%= f.submit 'Update Contest', class: 'btn btn-danger' %>
        <% end %>
    </div>
</div>
