<% setTitle("Contest") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= contests_path %>">Contests</a></li>
    <li class="active"><%= @contest.name %></li>
</ol>
<div class="row">
    <div class="center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="headings left"><%= @contest.name %></h1>
            </div>
            <% if current_user&.can_edit_contest?(@contest) %>
                <div class="col-xs-2 right form-dropdown">
                    <%= link_to edit_contest_path(@contest), class: 'no-underline' do %>
                        <i class="glyphicon glyphicon-cog options-glyphicon"></i>
                    <% end %>
                    <%= link_to contest_path(@contest), method: :delete, class: 'no-underline',
                                data: {confirm: 'Are you sure?'} do %>
                        <i class="glyphicon glyphicon-trash options-glyphicon"></i>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="info-container">Description: <%= @contest.description %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">Referee: <%= link_to @contest.referee.name, @contest.referee %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">Creator: <%= link_to @contest.user.username, @contest.user %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    Deadline: <%= timeRelativeToNow(@contest.deadline) %>
                </p>
            </div>
            <div class="col-md-6">
                <p class="info-container"><%= link_to 'Rules', @contest.referee.rules_url, target: '_blank' %></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="outer-home-container col-md-5 col-md-offset-1">
        <%= render partial: 'contest_tournaments' %>
        <%= render partial: 'challenge_players' %>
    </div>
    <div class="outer-home-container col-md-5">
        <%= render partial: 'contest_players' %>
    </div>
</div>