<% setTitle("Contest") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= contests_path %>">Contests</a></li>
    <li class="active"><%= @contest.name %></li>
</ol>
<div class="row">
    <div class="container center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="headings left"><%= @contest.name %></h1>
            </div>
            <% if current_user&.can_edit_contest?(@contest) %>
                <div class="col-xs-2 right form-dropdown">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">
                            Options <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <%= active_link_to 'Edit', edit_contest_path(@contest), wrap_tag: :li %>
                            <%= active_link_to 'Delete', contest_path(@contest), method: :delete,
                                               data: {confirm: 'Are you sure?'}, wrap_tag: :li %>
                        </ul>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="info-container">Description: <%= @contest.description %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">Referee: <%= link_to @contest.referee.name, @contest.referee %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">Creator: <%= link_to @contest.user.username, @contest.user %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    Deadline: <%= timeRelativeToNow(@contest.deadline) %>
                </p>
            </div>
            <div class="col-md-6">
                <p class="info-container"><%= link_to 'Rules', @contest.referee.rules_url, target: '_blank' %></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container outer-home-container col-md-5 col-md-offset-1">
        <%= render partial: 'contest_tournaments' %>
        <%= render partial: 'challenge_players' %>
    </div>
    <div class="container outer-home-container col-md-5">
        <%= render partial: 'contest_players' %>
    </div>
</div>