<% content_for :javascript_includes do %>
    <%= javascript_include_tag Rails.root.join(url_for(@referee), "assets", "script.js") %>
<% end %>

<h1>Round Information</h1>
<p>Round <%= @round.id %> for <%= link_to "Match " + @round.match_id.to_s, @round.match %></p>
<h2>Results</h2>
<ol>
    <%= render partial: 'player_rounds/player_links',
        collection: @round.player_rounds,
        as: 'player_round' %> 
</ol>

<h2>Replay</h2>
<div class="replay-viewer"></div>
<script>
    (function() {
        new Replay(document.querySelector(".replay-viewer"), "<%= @match.slug %>", "<%= @round.slug %>"); 
    }).call(this);
</script>


