<% content_for :javascript_includes do %>
    <%= javascript_include_tag URI.join(@assets_url, "script.js"), "data-turbolinks-track" => true %>
<% end %>
<% setTitle("Round") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= contests_path %>">Contests</a></li>
    <% if @match.manager_type == 'Contest' %>
        <li><a href="<%= contest_path(@match.manager) %>"><%= @match.manager.name %></a></li>
    <% else %>
        <li><a href="<%= contest_path(@match.manager.contest) %>"><%= @match.manager.contest.name %></a></li>
        <li><a href="<%= tournament_path(@match.manager) %>"><%= @match.manager.name %></a></li>
    <% end %>
    <li><a href="<%= match_path(@match) %>">Match <%= @match.id %></a></li>
    <li class="active">Round <%= @round.id %></li>
</ol>
<div class="row">
    <div class="container center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <h1 class="headings left">Round <%= @round.id %></h1>
        </div>
        <div class="row">
            <%= render partial: 'player_rounds/player_links', collection: @round.player_rounds, as: 'player_round' %>
            <div class="col-md-12">
                <p class="info-container"><%= link_to "Match " + @round.match_id.to_s, @match %></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container center display-container">
        <div class="row">
            <h1 class="headings left">Replay</h1>
        </div>
        <div class="replay-viewer row"></div>
    </div>
</div>
<script>
    (function () {
        new Replay(document.querySelector(".replay-viewer"), "<%= @assets_url %>", "<%= @match.slug %>", "<%= @round.slug %>");
    }).call(this);
</script>


