<% setTitle("Edit Account") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= users_path %>">Users</a></li>
    <li><a href="<%= user_path(@user) %>"><%= @user.username %></a></li>
    <li class="active">Edit Profile</li>
</ol>
<div class="row">
    <div class="center display-container col-md-offset-2 col-lg-offset-3 col-md-8 col-lg-6">
        <h1 class="headings new-heading row">Account Information</h1>
        <%= form_for(@user) do |f| %>
            <%= render 'fields', f: f %>
            <%= f.submit 'Update Account', class: 'btn btn-danger' %>
        <% end %>
    </div>
</div>
