<% if current_user %>
    <br>
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>
    <br>
    <% if current_user.contest_creator? %> 
        <div class="row">
            <%= link_to(new_contest_player_path('not-specified'), method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Add Player</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus') %>
                </div>
            <% end %>
            <%= link_to(new_contest_path, method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Add Contest</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-list home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus') %>
                </div>
            <% end %>
            <%= link_to(new_contest_tournament_path('not-specified'), method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Add Tournament</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-flag home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus') %>
                </div>
            <% end %>
            <%= link_to(new_contest_match_path('not-specified'), method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Challenge Players</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-resize-horizontal') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %>
                </div> 
            <% end %>
            <%= link_to(contests_path, method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>View Contests</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-list home-gly') %>
                </div>
            <% end %>
            <%= link_to(current_user, method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>View My Players</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-user') %>
                </div>
            <% end %>
        </div>
    <% else %> 
        <div class="row">
            <%= link_to(new_contest_player_path('not-specified'), method: :get, class: 'col-md-offset-2 col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Add Player</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus') %>
                </div>
            <% end %>
            <%= link_to(new_contest_match_path('not-specified'), method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Challenge Players</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-resize-horizontal') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %>
                </div> 
            <% end %>
            <%= link_to(contests_path, method: :get, class: 'col-md-offset-2 col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>View Contests</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-list home-gly') %>
                </div>
            <% end %>
            <%= link_to(current_user, method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>View My Players</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-user') %>
                </div>
            <% end %>
        </div>
    <% end %>           
<% else %>    
    <div class="row">
        <br>
        <div class="home-banner">
            <div class="banner-wrap">
                <%= image_tag "banner.svg"%>
            </div>
        </div>
        <br><br>
        <div class="catchphrase-container col-md-offset-1 col-md-10">
            <h1 id="catchphrase">Battle it out, AI style.</h1>
            <p>Host AI tournaments for your classes. Challenge another player to determine who's king.</p>
        </div>
    </div>
<% end %>
