<br>
<br>
<% if current_user %>
    <% if current_user.contest_creator? %> 
        <div class="row">
            <%= link_to(new_contest_player_path('not-specified'), method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Add Player</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus') %>
                </div>
            <% end %>
            <%= link_to(new_contest_path, method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Add Contest</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-list home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus') %>
                </div>
            <% end %>
            <%= link_to(root_path, method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Add Tournament</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-flag home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus') %>
                </div>
            <% end %>
            <%= link_to(new_contest_match_path('not-specified'), method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Challenge Players</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-resize-horizontal') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %>
                </div> 
            <% end %>
            <%= link_to(contests_path, method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>View Contests</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-list home-gly') %>
                </div>
            <% end %>
            <%= link_to(current_user, method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>View My Players</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-user') %>
                </div>
            <% end %>
        </div>
    <% else %> 
        <div class="row">
            <%= link_to(new_contest_player_path('not-specified'), method: :get, class: 'col-md-offset-2 col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Add Player</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus') %>
                </div>
            <% end %>
            <%= link_to(new_contest_match_path('not-specified'), method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>Challenge Players</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-resize-horizontal') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %>
                </div> 
            <% end %>
            <%= link_to(contests_path, method: :get, class: 'col-md-offset-2 col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>View Contests</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-list home-gly') %>
                </div>
            <% end %>
            <%= link_to(current_user, method: :get, class: 'col-md-4 col-sm-6 col-xs-12 navbar-brand navbar-default-link-color center outer-home-container') do %>
                <div class="home-container">
                    <p>View My Players</p>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-user home-gly') %> <%= content_tag('i', nil, class: 'glyphicon glyphicon-user') %>
                </div>
            <% end %>
        </div>
    <% end %>           
<% else %>    
    <div class="row">
        <div class="container display-container col-md-offset-1 col-md-10">
            <h3 class="headings">Welcome to Taylor University's Game Contest Server!</h3>
            <br>
            <br>
            <p>Taylor University's game contest server is designed to be a website that allows professors to host contests for various games, such as checkers, risk, and battleships. Students will then be able to develop and submit automated players for these games to challenge each other and determine who can program the best player!</p>
            <p>Dr. Geisler's Multi-tier Web Application Development class began writting this Game Contest Server using Ruby on Rails in the fall of 2013. </p>
        </div>
    </div>
<% end %>