<% setTitle("User") %>
<div class="row">
    <div class="container center display-container col-md-offset-3 col-md-6">
        <div class="row">
            <h1 class="headings col-xs-10 left">Users</h1>
        </div>
        <%= form_tag users_path, method: :get, id: :users_search do %>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <p class="search-container">
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", username: nil %>
            </p>
        <% end %>
        <div id= "pagination">
            <% if !@users.blank? %>
                <% @users.each do |user| %>
                    <%= button_to user.username, user, method: :get, class: 'results-container' %>
                <% end %>
            <% end %>
            <%= will_paginate %>
        </div>
        <div><%= pluralize(@users.length, 'User') %> Found</div>
    </div>
</div>