<div class="row">
    <div class="container center display-container col-md-offset-3 col-md-6">
        <h1 class="headings left">My Players (<%= @user.players.count %>)</h1>
        <br>
        <div class="row">
            <% @user.players.each do |player| %>
                <div class="info-container profile-container">
                    <%= link_to player.name, player %>
                    (<%= link_to player.contest.name, player %>)                    
                </div>
            <% end %>
        </div>
    </div>
</div>

<% if @user.referees.count > 0 %>
    <div class="row">
        <div class="container center display-container col-md-offset-3 col-md-6">
            <% if @user.contest_creator %>
                <h1 class="headings left">My Referees (<%= @user.referees.count %>)</h1>
                <br>
                <div>
                    <% @user.referees.each do |ref| %>
                        <div class="info-container profile-container">
                            <%= link_to ref.name, ref %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>