<% setTitle("User") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= users_path %>">Users</a></li>
    <li class="active"><%= @user.username %></li>
</ol>
<div class="row center">
    <div class="outer-home-container col-lg-offset-1 col-lg-5 col-md-6">
        <div class="display-container">
            <div class="row">
                <h1 class="headings">My Information</h1>
                <% if current_user&.admin? %>
                    <%= link_to edit_user_path(@user), class: 'no-underline' do %>
                        <i class="glyphicon glyphicon-cog glyphicon-lg"></i>
                    <% end %>
                    <% if current_user != @user %>
                        <%= link_to user_path(@user), method: :delete, class: 'no-underline',
                                    data: { confirm: 'Are you sure?' } do %>
                            <i class="glyphicon glyphicon-trash glyphicon-lg"></i>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <div class="row">
                <p class="info-container">Username: <%= @user.username %></p>
                <p class="info-container">Email: <%= @user.email %></p>
                <p class="info-container">Admin: <%= yesno(@user.admin) %></p>
                <p class="info-container">Contest Creator: <%= yesno(@user.contest_creator) %></p>
            </div>
        </div>
    </div>
    <%= render partial: 'players' %>
</div>
<div class="row center">
    <% if @user.contest_creator %>
        <%= render partial: 'referees' %>
        <%= render partial: 'contests' %>
    <% end %>
</div>