<% unless player_match.nil? %>
	<%= button_to(match_path(player_match.match), method: :get, class: 'results-container') do %>
		<%= player_match.match.name %>
		<% if player_match.result %>
            <% if player_match.result == 'Win' %>
                <span class="bg-green badge"><%= player_match.result %></span>
            <% elsif player_match.result == 'Loss' %>
                <span class="bg-red badge"><%= player_match.result %></span>
            <% else %>
                <span class="badge"><%= player_match.result %></span>
            <% end %>
        <% else %>
            <span class="badge">Waiting</span>
        <% end %>
	<% end %>
<% end %>

