<div class="info-container">
    <div>
        <%= link_to player_match.player.name, player_path(player_match.player) %>
        <% if player_match.result %>
            <% if player_match.result == 'Win' %>
                <span class="green badge"><%= player_match.result %></span>
            <% elsif player_match.result == 'Loss' %>
                <span class="red badge"><%= player_match.result %></span>
            <% else %>
                <span class="badge"><%= player_match.result %></span>
            <% end %>
        <% else %>
            <span class="badge">Pending</span>
        <% end %>
    </div>
    <div class="top-padding">    
        <% if player_match.match_log_info %>
            <span class="xs-font">Logs: </span>
            <a class="xs-font"
               href="/match_logs/<%= player_match.match_log_info.id %>/std_out"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Click link to download (Windows users may need special extraction app to make the file readable)"
               download>
                <u>Standard Out</u>
            </a>
            <a class="xs-font"
               href="/match_logs/<%= player_match.match_log_info.id %>/std_err"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Click link to download (Windows users may need special extraction app to make the file readable)"
               download>
                <u>Standard Error</u>
            </a>
        <% end %>
    </div>    
</div>
