<div class="form-group row left">
    <div class="col-xs-4 text-right">
        <%= f.label :name %>:
    </div>
    <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group row left">
    <div class="col-xs-4 text-right">
        <%= f.label :start, "Start:" %>
    </div>
    <% Time.use_zone("America/Indianapolis") do %>
        <%= f.datetime_select :start, { start_year: Time.now.year, use_short_month: true, minute_step: 5,
                                        order: [:month, :day, :year],  datetime_separator: " @ " },
                              class: 'form-input form-element' %>
    <% end %>
</div>
<div class="form-group row left">
    <div class="col-xs-4 text-right">
        <%= f.label :tournament_type, 'Tournament Type:' %>
    </div>
    <%= f.select :tournament_type, [['Round Robin','round robin'],['Single Elimination', 'single elimination']],
                 {}, class: 'form-control'  %>
</div>
<div class="form-group row left">
    <div class="col-xs-4 text-right">
        <%= f.label :rounds_per_match, 'Rounds per Match:' %>
    </div>
    <%= f.text_field :rounds_per_match, class: 'form-control', value: 1 %>
</div>
<script>
    var playersPerGame = <%= @contest.referee.players_per_game; %>
    var maxTimePerMatch = <%= @contest.referee.time_per_game; %>
</script>
<div id="multiplayerAssets">
    <div class="form-group row left">
        <div class="col-xs-4 text-right">
            <%= f.label :expected_disparity, 'Skill range between players:' %>
        </div>
        <%= f.select :expected_disparity, [['Very small'],['Small'], ['Medium small'], ['Medium'], ['Medium large'],
                                           ['Large'],['Very large']],
                     {}, class: 'form-input form-element' %>
    </div>
    <div class="form-group row left">
        <div class="col-xs-4 text-right">
            <%= f.label :total_matches, 'Total Matches:' %>
        </div>
        <%= f.text_field :total_matches, min: '1', max: '1000000', class: 'form-control form-element' %>
    </div>
    <div class="form-group row left">
        <div class="col-xs-4 text-right">
            <%= f.label :total_time, 'Total Time (Hrs):' %>
        </div>
        <%= f.text_field :total_time, class: 'form-control form-element' %>
    </div>
    <div class="form-group row left">
        <div class="col-xs-4 text-right">
            <%= f.label :RMSE, 'Uncertainty:' %>
        </div>
        <%= f.select :RMSE,[["Very sure"],["Pretty sure"],["Sure"],["Unsure"],["Pretty unsure"], ["Very unsure"]],
                     {}, class: 'form-input form-element' %>
    </div>
</div>
<div class="row multiselector">
    <div>
        <p class="center"><%= f.label :leftValues, "Available Players:", class: "player-label" %></p>
        <select id="leftValues" class="player-select" size="5" multiple>
            <%= render partial: "players/player_option", collection: @tournament.available_players, as: :player %>
        </select>
    </div>
    <div class="player-selectors">
        <br>
        <button type="button" id="btnRight" class="btn btn-danger" onclick="addPlayer()">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
        <button type="button" id="btnLeft" class="btn btn-danger" onclick="removePlayer()">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </button>
    </div>
    <div>
        <p class="center"><%= f.label :rightValues, "Selected Players:", class: "player-label" %></p>
        <select name="tournament[player_ids][]" id="rightValues" class="player-select" size="5" multiple>
            <%= render partial: "players/player_option", collection: @tournament.players, as: :player %>
        </select>
    </div>
</div>