<div class="form-group row left">
    <div class="col-xs-4">
        <%= f.label :name %>:
    </div>
    <%= f.text_field :name, class: 'form-input col-xs-7' %>
</div>
<div class="form-group row left">
    <div class="col-xs-4">
        <%= f.label :start, "Start:" %>
    </div>
    <% Time.use_zone("America/Indianapolis") do %>
        <%= f.datetime_select :start, { start_year: Time.now.year, use_short_month: true, minute_step: 5, order: [:month, :day, :year],  datetime_separator: " @ " }, class: 'form-input form-element' %>
    <% end %>
</div>
<div class="form-group row left">
    <div class="col-xs-4">
        <%= f.label :tournament_type, 'Tournament Type:' %>
    </div>
    <%= f.select :tournament_type, [['Round Robin','round robin'],['Single Elimination', 'single elimination']], {}, class: 'form-input form-element'  %>
</div>
<div class="form-group row left">
    <div class="col-xs-4">
        <%= f.label :rounds_per_match, 'Rounds per Match:' %>
    </div>
    <%= f.select :rounds_per_match, 1..@contest.referee.round_limit.to_i, {}, class: 'form-input form-element' %>
</div>

<div class="row multiselector">
    <div class="col-xs-5 first-player-select right">
        <p class="center"><%= f.label :leftValues, "Available Players:", class: "player-label" %></p>
        <select id="leftValues" class="player-select" size="5" multiple>
            <% @tournament.contest.players.select{ |p| !p.tournaments.include?(@tournament)}.each do |p| %>
                <option value=<%= p.id %>><%= p.name %> (<%= p.user.username %>)</option>
            <% end %>  
        </select>
    </div>
    <div class="player-selectors">
        <br>
        <br>
        <input type="button" id="btnRight" onclick="addPlayer()" value="&gt;&gt;" />
        <input type="button" id="btnLeft" onclick="removePlayer()" value="&lt;&lt;" />
    </div>
    <div>
        <p class="center"><%= f.label :rightValues, "Selected Players:", class: "player-label" %></p>
        <select name="tournament[player_ids][]" id="rightValues" class="player-select" size="5" multiple>
        <% @tournament.players.each do |p| %>
            <option value=<%= p.id %>><%= p.name %> (<%= p.user.username %>)</option>
        <% end %>  
        </select>
    </div>
</div>
