<tr>
    <td><%= link_to player.name, player %> (<%= player.user.username %>)</td>
    <td><%= player_counter + 1 %></td>
    <td><%= player.wins(@tournament) %></td>
    <%= render partial: 'result', collection: @tournament.players, as: :player2, locals: {player1: player} %>
</tr>