<% setTitle("Add Tournament") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <% if params[:contest_id] != 'not-specified' %>
        <li><a href="<%= contests_path %>">Contests</a></li>
        <li><a href="<%= contest_path(@contest) %>"><%= @contest.name %></a></li>
    <% end %>
    <li class="active">Add Tournament</li>
</ol>
<div class="row">
    <div class="container center display-container col-md-offset-3 col-md-6">
        <h1 class="headings new-heading row">New Tournament Information</h1>
        <div class="row left">
            <p class="col-xs-4">Selected Contest:</p>
            <%= form_tag(new_contest_tournament_path(:contest_id), method: :get, class: "form-input", id: "contest-form") do %>
                <%= collection_select(:tournament, :contest_id, @contests, :id, :name, {prompt: "Select a Contest"}, class: "form-element", id: "contest-selector", onchange: "redirectToContest()") %>
            <% end %>
        </div>
        <% if @tournament %>
            <%= form_for [@tournament.contest, @tournament] do |f| %>
                <%= render 'shared/error_messages', object: @tournament %>
                <%= render "fields", f:f %>
                <%= f.submit "Create Tournament", class: 'btn btn-danger' %>
            <% end %>
        <% end %>
    </div>            
</div>

