<% setTitle("Tournament") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= contests_path %>">Contests</a></li>
    <li><a href="<%= contest_path(@tournament.contest) %>"><%= @tournament.contest.name %></a></li>
    <li class="active"><%= @tournament.name %></li>
</ol>
<div class="row">
    <div class="container center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="headings left"><%= @tournament.name %></h1>
            </div>
            <% if current_user==@tournament.contest.user and current_user.contest_creator %>
                <div class="col-xs-2 right form-dropdown">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">
                            Options <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <% if @tournament.status != "completed" %>
                                <%= active_link_to 'Edit', edit_tournament_path(@tournament), wrap_tag: :li %>
                            <% end %>                            
                            <%= active_link_to 'Delete', tournament_path(@tournament), method: :delete,
                                               data: { confirm: 'Are you sure?' }, wrap_tag: :li %>
                        </ul>
                    </div>
                </div>
            <% end %>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="info-container">Status: <%= @tournament.status.capitalize %></p>
            </div>
            <div class="col-md-6">
                <% if @tournament.status == "completed" %>
                    <p class="info-container">Finished: <%= timeRelativeToNow(@tournament.start) %></p>
                <% else %>
                    <p class="info-container">Start: <%= timeRelativeToNow(@tournament.start) %></p>
                <% end %>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    Tournament Type: <%= @tournament.tournament_type.split.map { |i| i.capitalize }.join(' ') %>
                </p>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    Contest Owner: <%= link_to @tournament.contest.user.username, @tournament.contest.user %>
                </p>
            </div>
            <div class="col-md-12">
                <p class="info-container">Contest: <%= link_to @tournament.contest.name, @tournament.contest %></p>
            </div>
        </div>
    </div>
</div>

<% if @tournament.completed? %>
    <div class="row">
        <div class="container center display-container col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-md-4 center">
                    <%= image_tag 'silver_medal.png', class: 'col-md-offset-2 col-md-8' %>
                    <%= render partial: 'winner', collection: @second_place, as: :winner %>
                </div>
                <div class="col-md-4 center">
                    <%= image_tag 'gold_medal.png', class: 'col-md-12' %>
                    <%= render partial: 'winner', collection: @first_place, as: :winner %>
                </div>
                <div class="col-md-4 center">
                    <%= image_tag 'bronze_medal.png', class: 'col-md-offset-2 col-md-8' %>
                    <%= render partial: 'winner', collection: @third_place, as: :winner %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<% if @tournament.round_robin? %>
    <%= render "round_robin_tournament" %>
<% elsif @tournament.single_elimination? %>
    <%= render "single_elimination_tournament" %>
<% elsif @tournament.multiplayer_game? %>
    <%= render "multiplayer_game_tournament" %>
<% else %>
    <%= render "king_of_the_hill_tournament" %>
<% end %>
