<% setTitle("Tournament") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= contests_path %>">Contests</a></li>
    <li><a href="<%= contest_path(@tournament.contest) %>"><%= @tournament.contest.name %></a></li>
    <li class="active"><%= @tournament.name %></li>
</ol>
<div class="row">
    <div class="center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="headings"><%= @tournament.name %></h1>
            </div>
            <% if current_user&.can_edit_tournament?(@tournament) %>
                <div class="col-xs-2 right form-dropdown">
                    <%= link_to edit_tournament_path(@tournament), class: 'no-underline' do %>
                        <i class="glyphicon glyphicon-cog glyphicon-lg"></i>
                    <% end %>
                    <%= link_to tournament_path(@tournament), method: :delete,
                                data: { confirm: 'Are you sure?' } do %>
                        <i class="glyphicon glyphicon-trash glyphicon-lg"></i>
                    <% end %>
                </div>
            <% end %>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="info-container">Status: <%= @tournament.status.capitalize %></p>
            </div>
            <div class="col-md-6">
                <% if @tournament.status == "completed" %>
                    <p class="info-container">Finished: <%= timeRelativeToNow(@tournament.start) %></p>
                <% else %>
                    <p class="info-container">Start: <%= timeRelativeToNow(@tournament.start) %></p>
                <% end %>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    Tournament Type: <%= @tournament.tournament_type.split.map { |i| i.capitalize }.join(' ') %>
                </p>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    Contest Owner: <%= link_to @tournament.contest.user.username, @tournament.contest.user %>
                </p>
            </div>
            <div class="col-md-12">
                <p class="info-container">Contest: <%= link_to @tournament.contest.name, @tournament.contest %></p>
            </div>
        </div>
    </div>
</div>

<% if @tournament.completed? %>
    <%= render partial: 'medals' %>
    <%= render "#{@tournament.tournament_type.sub(' ', '_')}_tournament" %>
<% elsif @tournament.started? %>
    <%= render partial: 'progress' %>
    <%= render "#{@tournament.tournament_type.sub(' ', '_')}_tournament" %>
<% else %>
    <%= render 'players_in_tournament' %>
<% end %>