<% setTitle("Tournament") %>
<div class="row">
    <div class="container center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-xs-9">
                <h1 class="headings left"><%= @tournament.name %></h1>
            </div>
            <% if current_user==@tournament.contest.user and current_user.contest_creator %>
                <div class="col-xs-3 right form-dropdown">                
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">Options <span class="caret"/></a>
                        <ul class="dropdown-menu">
                            <% if @tournament.status != "completed" %>
                                <%= active_link_to 'Edit', edit_tournament_path(@tournament), wrap_tag: :li %>
                            <% end %>                            
                            <%= active_link_to 'Delete', tournament_path(@tournament), method: :delete, data: { confirm: 'Are you sure?' }, wrap_tag: :li %>
                        </ul>
                    </div>
                </div>
            <% end %>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="info-container">Status: <%= @tournament.status.capitalize %></p>
            </div>
            <div class="col-md-6">
                <% if @tournament.status == "completed" %>
                    <p class="info-container">Finished: <%= distance_of_time_in_words_to_now(@tournament.start).split.map { |i| i.capitalize }.join(' ')%></p>
                <% else %>
                    <p class="info-container">Start: <%= distance_of_time_in_words_to_now(@tournament.start).split.map { |i| i.capitalize }.join(' ')%></p>
                <% end %>
            </div>
            <div class="col-md-6">
                <p class="info-container">Tournament Type: <%= @tournament.tournament_type.split.map { |i| i.capitalize }.join(' ') %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">Contest Owner: <%= link_to @tournament.contest.user.username, @tournament.contest.user %></p>
            </div>
            <div class="col-md-12">
                <p class="info-container">Contest: <%= link_to @tournament.contest.name, @tournament.contest %></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container center display-container col-md-10 col-md-offset-1">
        <h1 class="headings row left">Player Information</h1>
        <div class="row">
            <div class="col-xs-3">Place</div>        
            <div class="col-xs-3">Name</div>
            <div class="col-xs-3">Creator</div>
            <div class="col-xs-3">Wins</div>
        </div>
        <div class="player-results-container">
            <%= render @tournament.players.sort_by{|p| p.wins(@tournament)}.reverse %>
        </div>
    </div>
</div>

<% if @tournament.tournament_type == "round robin" %>
    <%= render "round_robin_tournament" %>
<% elsif @tournament.tournament_type == "single elimination" %>
    <%= render "single_elimination_tournament" %>
<% elsif @tournament.tournament_type == "multiplayer game" %>
    <%= render "multiplayer_game_tournament" %>
<% else %>
    <%= renter "king_of_the_hill" %>
<% end %>
