<% setTitle("Player") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= contests_path %>">Contests</a></li>
    <li><a href="<%= contest_path(@player.contest) %>"><%= @player.contest.name %></a></li>
    <li class="active"><%= @player.name %></li>
</ol>
<div class="row">
    <div class="center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="headings"><%= @player.name %></h1>
            </div>
            <% if current_user&.can_edit_player?(@player) %>
                <div class="col-xs-2 right form-dropdown">
                    <% if current_user.can_edit_player?(@player) %>
                        <%= link_to edit_player_path(@player), class: 'no-underline' do %>
                            <i class="glyphicon glyphicon-cog glyphicon-lg"></i>
                        <% end %>
                    <% end %>
                    <% if current_user.can_delete_player?(@player) %>
                        <%= link_to player_path(@player), method: :delete, class: 'no-underline',
                                    data: { confirm: 'Are you sure?' } do %>
                            <i class="glyphicon glyphicon-trash glyphicon-lg"></i>
                        <% end %>
                    <% elsif current_user.can_delete_player_with_warning?(@player) %>
                        <%= link_to player_path(@player), method: :delete, class: 'no-underline',
                                    data: {confirm: 'Deleting this player will delete all associating matches. Are you sure you want to do this?'} do %>
                            <i class="glyphicon glyphicon-trash glyphicon-lg"></i>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="info-container word-break"><%= @player.description %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    <i class="glyphicon glyphicon-user"></i>
                    <%= link_to @player.user.username, @player.user %>
                </p>
            </div>
        </div>
        <% if @player.playable %>
            <p>This player can be challenged <%= content_tag('i', nil, class: 'glyphicon glyphicon-ok') %></p>
        <% else %>
            <p>This player cannot be challenged <%= content_tag('i', nil, class: 'glyphicon glyphicon-remove') %></p>                
        <% end %>
    </div>
</div>

<div class="row">
    <%= render partial: 'statistics' %>
    <%= render partial: 'player_matches' %>
</div>