<% unless @match.completed? %>
    <% content_for :refresh_rate do %>8<% end %>
<% end %>
<% setTitle("Match") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= contests_path %>">Contests</a></li>
    <% if @match.manager_type != 'Contest' %>
        <li><a href="<%= contest_path(@match.manager.contest) %>"><%= @match.manager.contest.name %></a></li>
    <% end %>
    <li class="active"><%= @match.manager.name %></li>
</ol>
<div class="row">
    <div class="container center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <h1 class="headings left">Match <%= @match.id %></h1>
        </div>
        <div class="row">
            <div class="col-md-6">            
                <p class="info-container">Status: <%= @match.status.capitalize %></p>
            </div>
            <% if @match.completed? %>
                <div class="col-md-6">
                    <p class="info-container">Completed: <%= timeRelativeToNow(@match.completion) %></p>
                </div>
            <% else %>                
                <div class="col-md-6">
                    <p class="info-container">Earliest Start Time: <%= timeRelativeToNow(@match.earliest_start) %></p>
                </div>
            <% end %>
            <% if current_user==@match.manager.referee.user && @match.match_log_info %>
                <div class="col-md-6">
                    <p class="info-container" data-toggle="tooltip" data-placement="bottom" title="Click link to download">Standard Log:<a href="/match_logs/<%= @match.match_log_info.id %>/std_out">Referee STDOUT Log</a></p>
                </div>
                <div class="col-md-6">
                    <p class="info-container" data-toggle="tooltip" data-placement="bottom" title="Click link to download">Error Log:<a href="/match_logs/<%= @match.match_log_info.id %>/std_err">Referee STDERR Log</a></p>
                </div>
            <% end %>            
            <div class="col-md-12">
                <p class="info-container">Contest: <%= link_to @match.manager.name, @match.manager %></p>
            </div>
        </div>
    </div>
</div>    
<div class="row center">
    <div class="container outer-home-container col-md-offset-1 col-md-5">
        <div class="display-container">
            <h1 class="headings left row">Players (<%= @match.manager.referee.players_per_game %>)</h1>
            <%= render partial: 'player_matches/player_links', collection: @match.player_matches, as: 'player_match' %>
        </div>
    </div>
    <div class="container outer-home-container col-md-5">
        <div class="display-container">
            <h1 class="headings left row">Rounds (<%= @match.rounds.all.count %>)</h1>
            <%= render @match.rounds %>
        </div>
    </div>
</div> 
