<% setTitle("Match") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= contests_path %>">Contests</a></li>
    <% if @match.manager_type == 'Contest' %>
        <li><a href="<%= contest_path(@match.manager) %>"><%= @match.manager.name %></a></li>
    <% else %>
        <li><a href="<%= contest_path(@match.manager.contest) %>"><%= @match.manager.contest.name %></a></li>
        <li><a href="<%= tournament_path(@match.manager) %>"><%= @match.manager.name %></a></li>
    <% end %>
    <li class="active">Match</li>
</ol>
<div class="row">
    <div class="center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="headings">Match</h1>
            </div>
            <% if current_user&.admin %>
                <div class="col-xs-2 right form-dropdown">
                    <%= link_to match_path(@match), method: :delete, class: 'no-underline',
                                data: {confirm: 'Are you sure?'} do %>
                        <i class="glyphicon glyphicon-trash glyphicon-lg"></i>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-6">
                <% if @match.completed? %>
                    <p class="info-container">
                        <i class="glyphicon glyphicon-ok"></i>
                        <%= @match.status.capitalize %>
                    </p>
                <% elsif @match.error? %>
                    <p class="info-container">
                        <i class="glyphicon glyphicon-remove"></i>
                        <%= @match.status.capitalize %>
                    </p>
                <% else %>
                    <p class="info-container">
                        <i class="glyphicon glyphicon-refresh"></i>
                        <%= @match.status.capitalize %>
                    </p>
                <% end %>
            </div>
            <% if @match.completed? %>
                <div class="col-md-6">
                    <p class="info-container">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Completed: <%= timeRelativeToNow(@match.completion) %>
                    </p>
                </div>
            <% else %>
                <div class="col-md-6">
                    <p class="info-container">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Earliest Start Time: <%= timeRelativeToNow(@match.earliest_start) %>
                    </p>
                </div>
            <% end %>
            <% if current_user==@match.manager.referee.user && @match.match_log_info %>
                <div class="col-md-6">
                    <p class="info-container">
                        <i class="glyphicon glyphicon-download-alt"></i>
                        <a href="/match_logs/<%= @match.match_log_info.id %>/std_out" download>Referee Standard Log</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="info-container">
                        <i class="glyphicon glyphicon-download-alt"></i>
                        <a href="/match_logs/<%= @match.match_log_info.id %>/std_err" download>Referee Error Log</a>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="row center">
    <div class="outer-home-container col-md-offset-1 col-md-5">
        <div class="display-container">
            <h1 class="headings row">Players</h1>
            <%= render partial: 'player_matches/player_links', collection: @match.player_matches, as: 'player_match' %>
        </div>
    </div>
    <div class="outer-home-container col-md-5">
        <div class="display-container">
            <h1 class="headings row">Rounds</h1>
            <%= render @rounds %>
            <%= will_paginate @rounds, inner_window: 2, outer_window: 0, previous_label: '<', next_label: '>' %>
        </div>
    </div>
</div> 
