<% setTitle("Edit Referee") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= referees_path %>">Referees</a></li>
    <li class="active">Edit Referee</li>
</ol>
<div class="row">
    <div class="center display-container col-md-offset-2 col-md-8">
        <h1 class="headings new-heading row">Edit Referee</h1>
        <%= form_for @referee do |f| %>
            <%= render 'shared/error_messages', object: @referee %>
            <%= render 'fields', f: f %>
            <%= f.submit 'Update Referee', class: 'btn btn-danger' %>
        <% end %>
    </div>
</div>
