<% setTitle("Add Referee") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= referees_path %>">Referees</a></li>
    <li class="active">Add Referee</li>
</ol>
<div class="row">
    <div class="container center display-container col-md-offset-2 col-md-8">
        <h1 class="headings new-heading left row">New Referee</h1><br>
        <%= form_for @referee do |f| %>
            <%= render 'shared/error_messages', object: @referee %>
            <%= render 'fields', f: f %>
            <%= f.submit 'Create Referee', class: 'btn btn-danger' %>
        <% end %>
    </div>
</div>
