<% setTitle("Referee") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= referees_path %>">Referees</a></li>
    <li class="active"><%= @referee.name %></li>
</ol>
<div class="row">
    <div class="container center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="headings left">Referee Information</h1>
            </div>
            <div class="col-xs-2 right form-dropdown">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">Options <span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <% if current_user == @referee.user and current_user.contest_creator %>
                            <%= active_link_to 'Edit', edit_referee_path(@referee), wrap_tag: :li %>
                        <% end %>
                        <% if @referee.deletable?(current_user) %>
                            <%= active_link_to 'Delete', referee_path(@referee), method: :delete, data: { confirm: 'Are you sure?' }, wrap_tag: :li %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="info-container">Name: <%= @referee.name %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container"><%= link_to 'Rules', @referee.rules_url, target: '_blank' %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">Limit of Rounds (Inclusive): <%= @referee.round_limit %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">Players per Game: <%= @referee.players_per_game %></p>
            </div>
            <div class="col-md-6">
                <p class="info-container">Time per Game: <%= @referee.time_per_game %> sec</p>
            </div>
            <div class="col-md-6">
                <p class="info-container">Created by: <%= @referee.user.username %></p>
            </div>
        </div> 
        <% if @referee.rounds_capable %>
            <p>This referee is capable of handling rounds <%= content_tag('i', nil, class: 'glyphicon glyphicon-ok') %></p>
        <% else %>
            <p>This referee is not capable of handling rounds <%= content_tag('i', nil, class: 'glyphicon glyphicon-remove') %></p>                
        <% end %>       
    </div>
</div>
<div class="row">
    <div class="container center display-container col-md-offset-3 col-md-6">
        <div class="row">
            <h1 class="headings col-xs-8 col-xs-offset-2 left">Contests</h1>
            <% if current_user&.contest_creator? %>
                <div class="col-xs-2 plus-div right" data-toggle="tooltip" data-placement="bottom" title="Add Contest">
                    <%= link_to(new_contest_path, method: :get) do %>
                        <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus gly-plus') %>
                    <% end %>
                </div>
            <% end %>            
        </div>
        <div class="col-xs-12">
            <%= form_tag referee_path(@referee), method: 'get', id: "contest_search", class: 'form-inline' do %>
                <p>
                    <%= text_field_tag :search, params[:search], class: 'form-control' %>
                    <%= submit_tag "Search", description: nil, class: 'btn btn-danger' %>
                </p>
            <% end %>
        </div>
        <% if @contests.count > 0 %>
            <% if @contests.count > @per_page %>
                <p><%= "#{@contests.count} found (displaying #{getRangeFromPage(params[:page], @contests.length)})" %></p>
            <% else %>
                <p><%= "#{@contests.count} found" %></p>
            <% end %>
        <% else %>
            <p>No contests found</p>
        <% end %>
        <div class="row">
            <%= render partial: 'referees/referee_contest', collection: @contests, as: :contest %>
            <%= will_paginate @contests, id: 'referee_pagination', inner_window: 2, outer_window: 0 %>
        </div>
    </div>
</div>