<% setTitle("Referee") %>
<br>
<ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= referees_path %>">Referees</a></li>
    <li class="active"><%= @referee.name %></li>
</ol>
<div class="row">
    <div class="center display-container col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="headings"><%= @referee.name %></h1>
            </div>
            <% if current_user&.can_edit_referee?(@referee) %>
                <div class="col-xs-2 right form-dropdown">
                    <% if current_user.can_edit_referee?(@referee) %>
                        <%= link_to edit_referee_path(@referee), class: 'no-underline' do %>
                            <i class="glyphicon glyphicon-cog glyphicon-lg"></i>
                        <% end %>
                        <%= link_to referee_path(@referee), method: :delete, class: 'no-underline',
                                    data: { confirm: 'Are you sure?' } do %>
                            <i class="glyphicon glyphicon-trash glyphicon-lg"></i>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="info-container">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <%= link_to 'Rules', @referee.rules_url, target: '_blank' %>
                </p>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                    Maximum Rounds: <%= @referee.round_limit %>
                </p>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    <i class="glyphicon glyphicon-flag"></i>
                    Players Per Match: <%= @referee.players_per_game %>
                </p>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    <i class="glyphicon glyphicon-time"></i>
                    Time Per Match: <%= @referee.time_per_game %> sec
                </p>
            </div>
            <div class="col-md-6">
                <p class="info-container">
                    <i class="glyphicon glyphicon-user"></i>
                    <%= @referee.user.username %>
                </p>
            </div>
            <div class="col-md-6">
                <% if @referee.rounds_capable %>
                    <p class="info-container">
                        <%= content_tag('i', nil, class: 'glyphicon glyphicon-ok') %> Rounds capable
                    </p>
                <% else %>
                    <p class="info-container">
                        <%= content_tag('i', nil, class: 'glyphicon glyphicon-remove') %> Not rounds capable
                    </p>
                <% end %>
            </div>
        </div> 

    </div>
</div>
<div class="row">
    <div class="center display-container col-md-offset-2 col-lg-offset-3 col-md-8 col-lg-6">
        <div class="row">
            <h1 class="headings col-xs-8 col-xs-offset-2">Contests</h1>
            <% if current_user&.contest_creator? %>
                <div class="col-xs-2 plus-div right" data-toggle="tooltip" data-placement="bottom" title="Add Contest">
                    <%= link_to(new_contest_path, method: :get) do %>
                        <%= content_tag('i', nil, class: 'glyphicon glyphicon-plus gly-plus') %>
                    <% end %>
                </div>
            <% end %>            
        </div>
        <div class="col-xs-12">
            <%= form_tag referee_path(@referee), method: 'get', id: "contest_search", class: 'form-inline' do %>
                <p>
                    <%= text_field_tag :search, params[:search], class: 'form-control' %>
                    <%= submit_tag "Search", description: nil, class: 'btn btn-danger' %>
                </p>
            <% end %>
        </div>

        <p><%= display_results_found(@contests, 'contests', params[:page], @per_page) %></p>
        
        <div class="row">
            <%= render partial: 'referees/referee_contest', collection: @contests, as: :contest %>
            <%= will_paginate @contests, id: 'referee_pagination', inner_window: 2, outer_window: 0 %>
        </div>
    </div>
</div>